.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.center-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
}

.right-bar {
    display: flex;
    align-items: center;
}

.nav-logo-icon {
    height: 50px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.nav-link {
    font-size: 20px;
    text-decoration: none;
    color: #f8c384;
    padding: 10px 20px;
    border: 2px solid #f8c384;
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: #f8c384;
    color: #242424;
}

.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-size: 20px;
    color: #f8c384;
    border: 2px solid #f8c384;
    border-radius: 15px;
    background-color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

.profile-button:hover {
    background-color: #f8c384;
    color: #242424;
}
